.signup-a-school {
  position: relative;
  
  &-content {
    display: flex;
//    height: calc(100vh - 52px);
    min-height: 876px;
    padding: 224px 11.25% 0;
    
    @include mobile {
      padding: 128px 20px 0;
    }
    
    .apple {
      position: absolute;
      bottom: 0;
      left: -24px;
      height: 512px;
    }
    
    .contact-icon {
      float: left;
      margin-right: 12px;
      margin-top: 4px;
    }
    
    .title {
      margin-bottom: 16px;
      width: 432px;
      
      @include tablet {
        width: 348px;
        margin: 0 auto 16px;
        text-align: center;
      }
      
      @include mobile {
        width: 228px;
        margin: 0 auto 16px;
        text-align: center;
      }
    }
    
    .copy {
      margin-bottom: 24px;
      width: 318px;
      
      @include tablet {
        width: 348px;
        text-align: center;
        margin: 0 auto;
      }
      
      @include mobile {
        width: 278px;
        text-align: center;
        margin: 0 auto 56px;
      }
    }
     
    .form-container {
      padding: 32px 0 56px;
      
      @include tablet {
        padding: 32px 4% 68px;
      }
      
      @include desktop {
        padding: 32px 0 24px 66px;
      }
    }
  }
}