.contact-form {
  
  .contact-form-field {
    background-color: transparent;
    border: none;
    margin-bottom: 64px;
    border-bottom: 1px solid $white;
    
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $white;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $white;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $white;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $white;
    }
    
    &:-webkit-autofill {
      color: $white;
    }
  }
  
  .section-label {
    margin-bottom: 48px;
  }

  .othervalue-text {
    display: none;
    width: fit-content;
    
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $white;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $white;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $white;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $white;
    }
    
    &.active {
      display: inline-block;
    }
  }
  
  .othervalue-label {
    display: none;
    
    &.active {
      display: inline-block;
    }
  }
  
  .switch-field {
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    
    input[type="radio"] {
      position: absolute;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      width: 1px;
      border: 0;
      overflow: hidden;
    }
    
    input:checked + label {
      background-color: $white;
      color: $light-green;
    }
    
    label {
      float: left;
    }
    
    label:hover {
      cursor: pointer;
    }
    
    label:not(.othervalue-label) {
      display: inline-block;
    }
    
    label,
    .othervalue-text {
      background-color: transparent;
      font-weight: normal;
      text-align: center;
      margin-right: 24px;
      text-shadow: none;
      padding: 6px 14px;
      border: 1px solid $white;
      color: $white;
    }
    
  }

  .radio-group {
    
    &-choices {
      margin-bottom: 52px;
      
      @include mobile {
        margin-bottom: 41px;
      }
    }
    
    .you-are {
      @include mobile {
        float: right;
        padding-right: 16px;
      }
    }
  }
  
  .radio-container {
    display: flex;
    align-items: center;
    overflow-x: visible;
    float: left;
    
    @include mobile {
      display: inline-grid;
    }
    
    .radio {
      height: 0;
      width: 0;
      opacity: 0;
      &:checked + .radio-text {
        &::before {
          border: 5px solid $red;
          background: $white;
          
          .page-template-regional-form & {
            border: 5px solid $light-blue;
          }
        }
      }
      
      &-text {
        margin-right: 44px;
        width: 232px;
        display: flex;
        align-items: center;
        
        @include tablet {
          margin-bottom: 16px;
        }
        
        @include mobile {
          margin-bottom: 8px;
        }
        
        &::before {
          display: inline-block;
          content: "";
          height: 20px;
          width: 20px;
          margin-right: 8px;
          border: 10px solid $red;
          border-radius: 50%;
          transition: all 0.25s linear;
          
          .page-template-regional-form & {
            border: 10px solid $light-blue;
          }
        }
      }
    }

  }
  
  .message-label {
    display: inline-block;
  }
  
  #contact-message {
    background-color: transparent;
    border: 1px solid $white;
    width: 100%;
    height: 126px;
    margin-bottom: 32px;
    
    @include desktop {
      max-width: 594px;
    }
  }
  
  .form-footer {
    display: flex;
    align-items: center;
    height: 40px;
    
    @include mobile {
      flex-wrap: wrap;
      padding-bottom: 88px;
      
      .signup-a-school & { 
        padding-bottom: 0;
      }
    }
    
    .newsletter {
      @include desktop {
        font-weight: bold;
      }
      
      @include mobile {
        margin-bottom: 48px;
      }
    }
    
    .btn {
      position: absolute;
      right: 0;
      
      @include mobile {
        position: relative;
        margin: 0 auto;
      }
      
      .signup-a-school & {
        width: 124px;
        right: calc(50% - 62px);
        
        @include mobile {
          position: relative;
          right: auto;
          margin: 0 auto;
        }
      }
    }
  }
}

.form-response-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 24px;
}