.contact-form {
  
  .contact-form-field {
    background-color: transparent;
    border: none;
    margin-bottom: 64px;
    border-bottom: 1px solid $white;
    
    @include mobile {
      margin-bottom: 33px;
    }
    
    .home & {
      border-bottom: 1px solid $black;
    }
    
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $white;
      
      .home & {
        color: $black;
      }
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $white;
      
      .home & {
        color: $black;
      }
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $white;
      
      .home & {
        color: $black;
      }
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $white;
      
      .home & {
        color: $black;
      }
    }
    
    &:-webkit-autofill {
      color: $white;
      
      .home & {
        color: $black;
      }
    }
  }
  
  .section-label {
    margin-bottom: 48px;
    
    &-value {
      @include mobile {
        font-size: 16px;
        font-weight: normal;
        line-height: 1.25;
        text-align: center;
        max-width: 320px;
        margin: 0 auto 83px;
      }
    }
  }

  .othervalue-text {
    display: none;
    width: fit-content;
    
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $white;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $white;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $white;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $white;
    }
    
    &.active {
      display: inline-block;
      width: 96px;
    }
  }
  
  .othervalue-label {
    display: none;
    
    &.active {
      display: inline-block;
    }
  }
  
  .switch-field {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &.flex-start {
      justify-content: flex-start;
      
      @include mobile {
        display: block;
      }
    }
    
    input[type="radio"] {
      position: absolute;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      width: 1px;
      border: 0;
      overflow: hidden;
    }
    
    input:checked + label {
      background-color: $white;
      color: $light-green;
    }
    
    &-choices {
        display: flex;
        align-items: center;
      
      @include mobile {
        padding-left: 12px;
      }
    }
    
    &-divider {
      margin-bottom: 24px;
      margin-left: 12px;
      margin-right: 12px;
    }
    
    &-monthly {
      margin: 0 auto;
      
      @include mobile {
        display: flex;
        justify-content: center;
      }
      
      @include desktop {
        width: auto;
      }
      
      @include tablet {
        width: auto;
      }
      
      &:first-of-type {
        margin-left: 0;
      }
      
      &:last-of-type {
        margin-right: 0;
      }
    }
    
    .text {
      margin-bottom: 24px;
    }
    
    label:hover {
      cursor: pointer;
    }
    
    label:not(.othervalue-label) {
      display: inline-block;
    }
    
    label:not(.monthly-label),
    .othervalue-text {
      margin-right: 24px;
    }
    
    .monthly-label {
      @include mobile {
        width: 100%;
      }
    }
    
    label {
      float: left;
      margin: 0 auto 24px;
      white-space: nowrap;
      
      &:first-of-type {
        margin-left: 0;
      }
      
      &:last-of-type {
        margin-right: 0;
      }
    }
    
    label,
    .othervalue-text {
      background-color: transparent;
      font-weight: normal;
      text-align: center;
      text-shadow: none;
      margin-bottom: 24px;
      padding: 6px 14px;
      border: 1px solid $white;
      color: $white;
    }
    
    .othervalue-text {
      margin-bottom: 24px;
      margin-right: 0;
      margin-left: auto;
    }
  }

  .radio-group {
    
    &-choices {
      margin-bottom: 52px;
      
      @include mobile {
        margin-bottom: 41px;
      }
    }
    
    .you-are {
      @include mobile {
        float: right;
        padding-right: 16px;
      }
    }
  }
  
  .radio-container {
    display: flex;
    align-items: center;
    overflow-x: visible;
    float: left;
    
    @include mobile {
      display: inline-grid;
    }
    
    .radio {
      height: 0;
      width: 0;
      opacity: 0;
      &:checked + .radio-text {
        &::before {
          border: 5px solid $red;
          background: $white;
          
          .page-template-regional-form & {
            border: 5px solid $light-blue;
          }
        }
      }
      
      &-text {
        margin-right: 44px;
        width: 232px;
        display: flex;
        align-items: center;
        
        @include tablet {
          margin-bottom: 16px;
        }
        
        @include mobile {
          margin-bottom: 8px;
        }
        
        &::before {
          display: inline-block;
          content: "";
          height: 20px;
          width: 20px;
          margin-right: 8px;
          border: 10px solid $red;
          border-radius: 50%;
          transition: all 0.25s linear;
          
          .page-template-regional-form & {
            border: 10px solid $light-blue;
          }
        }
      }
    }

  }
  
  .message-label {
    display: inline-block;
  }
  
  #contact-message {
    background-color: transparent;
    border: 1px solid $white;
    width: 100%;
    height: 126px;
    margin-bottom: 32px;
    
    .home & {
      border: 1px solid $black;
    }
    
    @include desktop {
      max-width: 594px;
    }
  }
  
  .form-footer {
    display: flex;
    align-items: center;
    
    @include mobile {
      flex-wrap: wrap;
      padding-bottom: 80px;
      
      .signup-a-school & { 
        padding-bottom: 0;
      }
    }
    
    .newsletter {
      display: flex;
      align-items: center;
      
      @include desktop {
        font-weight: bold;
      }
      
      @include mobile {
        margin-bottom: 48px;
      }
      
      &-text {
        @include mobile {
          max-width: 208px;
        }
      }
      
      input[type=checkbox] {
        margin-left: 12px;
        transform: scale(1.5);
        
        @include mobile {
          transform: scale(2);
          position: absolute;
          right: 50px;
        }
      }
    }
    
    .btn {
      position: absolute;
      right: 0;
      
      @include mobile {
        position: relative;
      }
      
      .signup-a-school & {
        width: 124px;
        right: calc(50% - 62px);
        
        @include mobile {
          position: relative;
          right: auto;
          margin: 0 auto;
        }
      }
    }
  }
}

.form-response-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 24px;
}