.video-overlay {
  
  &-background {
    display: none;
    position: fixed;
    background-color: $black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.4;
    z-index: 100;
    
    &.active {
      display: block;
    }
  }
  
  &-foreground {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 200;
    
    .video-container {
      position: relative;
      
      @include desktop {
        width: 75%;
      }
      
      @include tablet {
        width: calc(100% - 68px);
      }
      
      @include mobile {
        width: calc(100% - 40px);
      }
      
      video {
        width: 100%;
        position: relative;
      }
      
      .video-control {
        position: absolute;
        bottom: -26px;
        left: 0;
        width: 64px;
        height: 32px;
        z-index: 400;
        
        @include tablet {
          height: 26px;
          bottom: -18px;
          width: 48px;
        }
        
        @include mobile {
          display: none;
        }
        
        .play {
          display: none;
          position: absolute;
          top: 6px;
          height: 18px;
          left: 26px;
          cursor: pointer;
          
          @include tablet {
            left: 18px;
            height: 14px;
            top: 6px;
          }
          
          div {
            border-bottom: 10px solid transparent;
            border-left: 18px solid $white;
            border-right: 10px solid transparent;
            border-top: 10px solid transparent;
            
            @include tablet {
              border-bottom: 8px solid transparent;
              border-left: 14px solid $white;
              border-right: 8px solid transparent;
              border-top: 8px solid transparent;
            }
          }
          
          &.active {
            display: block;
          }
        }
        
        .pause {
          display: none;
          position: absolute;
          top: 8px;
          height: 18px;
          left: 26px;
          cursor: pointer;
          
          @include tablet {
            left: 18px;
            height: 14px;
            top: 6px;
          }
          
          div {
            height: 100%;
            width: 4px;
            background-color: $white;
            cursor: pointer;
          }
          
          div:first-of-type {
            margin-right: 4px;
          }
          
          &.active {
            display: flex;
          }
        }
      }
      
      .progress-bar {
        position: absolute;
        bottom: -26px;
        left: 0;
        right: 0;
        height: 32px;
        z-index: 300;
        margin-left: 64px;
        padding-right: 32px;
        display: flex;
        align-items: center;
        cursor: pointer;
        
        @include tablet {
          height: 26px;
          bottom: -18px;
          margin-left: 48px;
          padding-right: 24px;
        }
        
        @include mobile {
          height: 19px;
          bottom: -12px;
          padding-left: 11px;
          padding-right: 11px;
          margin-left: 0;
        }
        
        .progress-backer {
          width: calc(100% - 32px);
          position: absolute;
          top: 12px;
          left: 0;
          height: 8px;
          
          @include tablet {
            width: calc(100% - 24px);
            height: 6px;
            top: 10px;
          }
          
          @include mobile {
            width: calc(100% - 22px);
            margin-left: 11px;
            height: 6px;
            top: 6.5px;
          }
        }
        
        .progress-value {
          position: relative;
          z-index: 100;
          width: 0;
          height: 8px;
          
          @include tablet {
            height: 6px;
          }
          
          @include mobile {
            height: 6px;
          }
        }
      }

      .close {
        position: absolute;
        top: 0;
        right: 0px;
        height: 40px;
        width: 40px;
        z-index: 300;
        cursor: pointer;
        
        @include tablet {
          width: 32px;
          height: 32px;
        }
        
        div {
          position: absolute;
          height: 18px;
          width: 2px;
          background-color: $white;
          top: 11px;
          left: 20px;
          
          @include tablet {
            top: 8px;
            left: 16px;
          }
        }
        
        div:first-of-type {
          transform: rotate(45deg);
        }
        
        div:last-of-type {
          transform: rotate(-45deg);
        }
      }
    }
    
    
    
    &.active {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  
}